<h1>Stupid coaching</h1>

<div class="container">
<p><%= @search %></p>
<p>-You</p>
</div>

<div class="answer">
<p><%= @answer %></p>
<p>-Your coach</p>
</div>

<%= link_to "Ask again",  ask_path %>
